t1{
    text-align: center;
}
t3{
    color: #252323; 
}
t4{
font-size: 21px;
}
t5{
    font-size: 21px;
}
t6{
    font-size: 25px;
}
t7{
    font-size: 21px;
}
t8{
    font-size: 21px;
}
t9{
    font-size: 25px;
}
t10{
    font-size: 21px;
}
t11{
    font-size: 21px;
}
t12{
     
    font-size: 25px;
}
t13{
    font-size: 21px;
}
t14{
    font-size: 21px; 
}
.capa{
    margin-left: 40%;
}
.capa2{
    margin-left: 40%;

}
.capa3{
    margin-left: 40%;

}
.capa4{
    margin-left: 40%;

}