t1{
    text-align: center; background-color:#1E90FF;
}
t2{
    font-weight: lighter;
}
t3{
    color: #252323; 
}
t4{
font-size: 21px;
}
t5{
    font-size: 21px;
}
t6{
    font-size: 25px;
}
t7{
    font-size: 21px;
}
t8{
    font-size: 21px;
}
t9{
    font-size: 25px;
}
t10{
    font-size: 21px;
}
t11{
    font-size: 21px;
}
t12{
     
    font-size: 25px;
}
t13{
    font-size: 21px;
}
t14{
    font-size: 21px; 
}
.capa{
    margin-left: 35%;
}
.capa2{
    margin-left: 35%;

}
.capa3{
    margin-left: 35%;

}
.capa4{
    margin-left: 35%;
}
h19 {
    font-size: 25px;font-weight: bold;
}

.itens {
    font-size: 21px;
}
.livros {
 background-color: #1E90FF;
}
body{
    background-color: #87CEFA;
}
t20{
    text-align: center;
}
.banner1{
    margin-right: 100%;
}